llama-index==0.11.19
llama-index-core==0.11.19
llama-index-retrievers-bm25~=0.3.0
sentence_transformers
xformers
huggingface_hub
langchain~=0.0.315
datasets~=2.14.4
pydantic~=2.7.0
transformers~=4.43.0
torch
numpy~=1.26.1
aiohttp~=3.10.5
PyYAML~=6.0.1
pandas~=2.1.1
evaluate~=0.4.0
scikit-learn~=1.3.0
lru-dict~=1.3.0
rank-bm25
peft~=0.5.0
accelerate==1.0.1
wandb
Jinja2==3.1.5
bitsandbytes